body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  
  .button {
      position: relative;
      padding: 10px 22px;
      border-radius: 6px;
      border: none;
      color: #fff;
      cursor: pointer;
      background-color: #ff7f50 ;
      transition: all 0.2s ease;
    }
    
    .button:active {
      transform: scale(0.96);
    }
    
    .button:before,
    .button:after {
      position: absolute;
      content: "";
      width: 150%;
      left: 50%;
      height: 100%;
      transform: translateX(-50%);
      z-index: -1000;
      background-repeat: no-repeat;
    }
    
    .button:hover:before {
      top: -70%;
      background-image: radial-gradient(circle, #ff7f50  20%, transparent 20%),
        radial-gradient(circle, transparent 20%, #ff7f50  20%, transparent 30%),
        radial-gradient(circle, #ff7f50  20%, transparent 20%),
        radial-gradient(circle, #ff7f50  20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #ff7f50  15%, transparent 20%),
        radial-gradient(circle, #ff7f50  20%, transparent 20%),
        radial-gradient(circle, #ff7f50  20%, transparent 20%),
        radial-gradient(circle, #ff7f50  20%, transparent 20%),
        radial-gradient(circle, #ff7f50  20%, transparent 20%);
      background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
        10% 10%, 18% 18%;
      background-position: 50% 120%;
      animation: greentopBubbles 0.6s ease;
    }
    
    @keyframes greentopBubbles {
      0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
          40% 90%, 55% 90%, 70% 90%;
      }
    
      50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
          50% 50%, 65% 20%, 90% 30%;
      }
    
      100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
          50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
      }
    }
    
    .button:hover::after {
      bottom: -70%;
      background-image: radial-gradient(circle, #ff7f50  20%, transparent 20%),
        radial-gradient(circle, #ff7f50  20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #ff7f50  15%, transparent 20%),
        radial-gradient(circle, #ff7f50  20%, transparent 20%),
        radial-gradient(circle, #ff7f50  20%, transparent 20%),
        radial-gradient(circle, #ff7f50  20%, transparent 20%),
        radial-gradient(circle, #ff7f50  20%, transparent 20%);
      background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
      background-position: 50% 0%;
      animation: greenbottomBubbles 0.6s ease;
    }
    
    @keyframes greenbottomBubbles {
      0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
          70% -10%, 70% 0%;
      }
    
      50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
          105% 0%;
      }
    
      100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
          110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
      }
    }
    
  
    /* homepage cards */
  
    .card {
      position: relative;
      margin-left: 200px;
      width: 190px;
      height: 254px;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      justify-content: end;
      padding: 12px;
      gap: 12px;
      border-radius: 8px;
      cursor: pointer;
      color: white;
      text-align: center;
      transition: all 0.3s ease-in-out;
    }
    
    .card:hover {
      transform: scale(1.05);
    }
    
    .card::before {
      content: '';
      position: absolute;
      inset: 0;
      left: -5px;
      margin: auto;
      width: 200px;
      height: 264px;
      border-radius: 10px;
      background: linear-gradient(-45deg, #b014cc 0%, #3287cc  100%);
      z-index: -10;
      pointer-events: none;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      
    }
    
    .card::after {
      content: '';
      z-index: -1;
      position: absolute;
      inset: 0;
      background: linear-gradient(-45deg, #b014cc 0%, #3287cc 100%);
      transform: translate3d(0, 0, 0) scale(0.95);
      filter: blur(20px);
    }
    
    .card:hover::after {
      filter: blur(30px);
    }
    
    .card:hover::before {
      transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
    }
    
    .heading {
      font-size: 20px;
      text-transform: capitalize;
      font-weight: 700;
    }
    
    .card p:not(.heading) {
      font-size: 14px;
      line-height: 1.5;
    }
    
    .card p:last-child {
      color: #d6d5d6;
      font-weight: 600;
    }
    
    /* HOMEPAGE CARD2 */
     .card-container {
      width: 290px;
      height: 254px;
      border-radius: 20px;
      background: #f5f5f5;
      position: relative;
      padding: 1.8rem;
      border: 2px solid #c3c6ce;
      transition: 0.5s ease-out;
      overflow: visible;
    }
    
    .card-content {
      color: black;
      height: 100%;
      gap: 0.5em;
      display: grid;
      place-content: center;
    }
    
    .card-action-btn {
      transform: translate(-50%, 125%);
      width: 60%;
      border-radius: 1rem;
      border: none;
      background-color: #008bf8;
      color: #fff;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      position: absolute;
      left: 50%;
      bottom: 0;
      opacity: 0;
      transition: 0.3s ease-out;
    }
    
    .card-description {
      color: rgb(134, 134, 134);
    }
    
    .card-title {
      font-size: 1.5em;
      font-weight: bold;
    }
    
    .card-container:hover {
      border-color: #008bf8;
      box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    }
    
    .card-container:hover .card-action-btn {
      transform: translate(-50%, 50%);
      opacity: 1;
    }
    
    .grid-layout {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      justify-content: center;
      align-items: start;
    } 
     /* hero animation */
     /* Define the gradient animation */
  @keyframes gradientMove {
      0% {
        background-position: 200% 0%;
      }
      100% {
        background-position: 0% 0%;
      }
    }
    
    /* Apply the animation to the text */
    .gradient-text {
      font-weight: 600;
      background-image: linear-gradient(
        to right,
        #7c3aed, /* purple-400 */
        #d946ef, /* pink-300 */
        #fb923c, /* orange-400 */
        #d946ef, /* pink-300 */
        #7c3aed /* purple-400 */
      );
      background-size: 200% auto; /* Make the gradient wider than the element */
      background-clip: text;
      text-fill-color: transparent; /* For browsers without background-clip support */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: gradientMove 3s ease infinite;
    }
    
   /* text animation about-us */
  
  
   @keyframes text-reveal {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .text-reveal {
    white-space: pre-wrap;
  }
  .animate-text-reveal {
    animation: text-reveal 3.5s ease-in-out  infinite;
  }